<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Career Course Recommender</title>
	<link rel="stylesheet" href="../static/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<header>
		<p>Career Course Recommender</p>
	</header>
	<main>
		<section class="submission-form">
				<form action="/submit">
					<textarea name="JobDesc" placeholder="Enter a job description and click the button below." rows="15" cols="60" required></textarea><br><br>
					<button type="submit">Recommend Courses</button>
				</form>
		</section>
	</main>
	<footer>
		<div class="info-container">
			<a class="info" href="https://github.com/harshcasper"><i class="fa fa-github fa-lg"></i></a>
		</div>
	</footer>
	
</body>
</html>
